input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 20px;
  padding: none;
}

h3 {
  font-size: 16px;
}

.app-container {
  display: block;
  margin: auto;
  text-align: center;
  max-width: 620px;
  min-width: 620px;
}

.weather-app {
  border: none;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
  padding: 30px;
  max-width: 620px;
  min-width: 620px;
  background: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

.weather-info {
  padding-top: 30px;
  padding-bottom: 15px;
}

.fa-compass {
  font-size: 35px;
  border: none;
  background-color: transparent;
  padding-left: 20px;
  color: #1d1f23;
}

.search-bar {
  padding: 7px;
  padding-right: 160px;
  border: none;
  border-radius: 5px;
  background: #f9fafb;
}

.current-location {
  background: #1d1f23;
  color: white;
  font-size: 12px;
  border-radius: 20px;
  border: 1px;
  padding: 10px;
  margin: 10px;
}

.units {
  position: relative;
  font-size: 16px;
  top: -50px;
}

.link {
  text-decoration: none;
  color: #adccee;
}

.forecast {
  margin-top: 30px;
  text-align: center;
}

.forecast-day {
  font-size: 20px;
}

.forecast-temperature {
  font-size: 16px;
}

.forecast-temperature-min {
  opacity: 0.6;
}

.github {
  font-size: 12px;
  font-style: italic;
  text-align: center;
  padding-top: 0px;
  color: gray;
}

#temperature {
  font-size: 85px;
}

#weather-icon {
  font-size: 10px;
  position: relative;
  top: -25px;
}
