body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
  padding: none;
}

h3 {
  font-size: 16px;
}

.weather-app {
  border: 1px solid black;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
  padding: 20px;
  max-width: 550px;
  min-width: 550px;
}

.weather-info {
  padding-top: 20px;
}

.fa-compass {
  font-size: 35px;
  border: none;
  background-color: transparent;
  padding-left: 20px;
  color: #1d1f23;
}

.search-bar {
  padding: 7px;
  padding-right: 160px;
  border: none;
  border-radius: 5px;
  background: #f9fafb;
}

.current-location {
  background: #1d1f23;
  color: white;
  font-size: 12px;
  border-radius: 20px;
  border: 1px;
  padding: 10px;
  margin: 10px;
}

.units {
  position: relative;
  font-size: 16px;
  top: -22px;
}

.link {
  text-decoration: none;
}

#temperature {
  font-size: 50px;
}

#weather-icon {
  font-size: 50px;
}
